*, *::after, *::before{
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-family: Montserrat-Regular, Helvetica, Arial, sans-serif;
}

body{
    overflow-x: hidden;
}
/* head */

.header {
    height: 60px;
    background-color: #2749A1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 190px;
    font-size: 12.8px;
}

.navlink{
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    margin: 0 15px;
}
.navigation {
    display: flex;
    align-items: flex-start;

}
.contact {
    display: flex;
    align-items: flex-start;
    margin: 0 15px;
    
}

.tstu {
    background-color: #FFFFFF;
    min-width: 500px;
}

.tstu1 {
    margin: 28px 220px;
}

.hr{
    width: 100%;
    height: 1px;
    /* background-color: #D9D9D9; */
    background-color: rgba(217, 217, 217, .7);
}

.sitenav {
    margin: 18px 150px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
}

.siten {
    display: flex;
    align-items: center;
    color: #0D6EFD;
    font-size: 15px;
}

.site_button{
    display: flex;
    align-items: center;
    color: #FFFFFF;
    font-size: 15px;
}

.site_button1 {
    background-color: #DE6429;
    border-radius: 20px;
    padding: 8px 18px;
    transition: transform .3s ease-in-out;
}

.site_button1:hover, 
.site_button1:focus{
    background: #E8682A;
    opacity: 1;
    transform: scale(1.05);
}

.nn{
    padding: 15px;
    display: flex;
    justify-content: center;
}

.tstuV2{
    background-color: #E9ECEF;
    min-width: 100%;
}

.News{
    padding: 15px;
    margin: 0 150px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #2749A1;
}

.slider{
    padding: 15px;
    display: flex;
    justify-content: center;

}

.footer{
    background-color: #2749A1;
    height: 150px;
}