*, *::after, *::before{
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-family: Montserrat-Regular, Helvetica, Arial, sans-serif;
}

body{
    overflow-x: hidden;
}

.header {
    height: 60px;
    background-color: #2749A1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 190px;
    font-size: 12.8px;
}

.navlink{
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    margin: 0 15px;
}
.navigation {
    display: flex;
    align-items: flex-start;

}
.contact {
    display: flex;
    align-items: flex-start;
    margin: 0 15px;
    
}

.tstu {
    background-color: #FFFFFF;
    min-width: 500px;
}

.tstu1 {
    margin: 28px 220px;
}

.hr{
    width: 100%;
    height: 1.25px;
    /* background-color: #D9D9D9; */
    background-color: rgba(217, 217, 217, .7);
}

.sitenav {
    margin: 18px 130px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
}

.siten {
    display: flex;
    align-items: center;
    color: #0D6EFD;
    font-size: 15px;
}

.sitebutton {
    display: flex;
    align-items: center;
    color: #FFFFFF;
    font-size: 15px;
    background-color: #DE6429;
    border-radius: 20px;
    padding: 8px 18px;
}

.sitebutton:hover{
    scale: (2.5);
}

.nn {
}